.informacoes-container {
    background-color: rgb(253, 208, 120, 0.75);
    border-top: solid 3px rgb(89, 49, 31, 0.75);
    border-bottom: solid 3px rgb(89, 49, 31, 0.75);
    padding: 0 5%;
}

.informacoes h1, h2 {
    font-family: "Olduvai";
    color: rgb(89, 49, 31);
}

.informacoes h2 {
    margin-left: 20px;
}

.informacoes p {
    font-family: 'Patrick Hand SC', cursive;
    line-height: 1;
    font-size: calc(1em + 1vw);
    font-weight: 475;
    margin-left: 40px;
}

.informacoes {
    padding: 20px 20px;
    margin: 0 auto;
    
}

.imgInformacoes {
    padding-bottom: 20px;
    margin: 0 auto;
    width: calc(15em + 12vw);
    max-width: 100%;
    display: block;
}