.quemSomos h1 {
    text-align: end;
    font-family: "Olduvai";
    padding: 30px 30px 0 0;
    color: rgb(89, 49, 31);
}

.quemSomos-container {
    background-color: rgb(139, 137, 20, 0.75);
    border-top: solid 3px rgb(89, 49, 31, 0.75);
    align-items: center;
    padding: 5%;
}

.videoInstitucional {
    border:solid 3px rgb(89, 49, 31);
    border-radius: 25px;
    width: calc(15em + 12vw);
    height: calc(6em + 10vw);
    margin: auto;
    max-width: 100%;
    display: block;
    
}


.texto-quemsomos {
    line-height: 1;
    color: white;
    font-size: calc(0.7em + 1vw);
    margin: 10% 0;
    font-weight: 350;
    font-family: 'Patrick Hand SC', cursive;
}